<section class="container">
<div class="col-md-4 col-md-offset-4"
<center><h2> hello about page </h2></center>
</div>
<div class="col-md-6 col-md-offset-3">
  <p>Hello this is my trial text for this trial blog application. I really hope this works.</p>

</div>





<%= link_to "home", root_path %>

</section>
